You are {{ role }}.

{% if context %}
Context:
{{ context }}

{% endif %}
Question: {{ question }}

{% if instructions %}
Instructions:
{% for instruction in instructions %}
- {{ instruction }}
{% endfor %}
{% endif %}